Marknet/App_WebReferences/CreditCardWS/CreditCardWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://marknet.com/webservices/creditcard" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://marknet.com/webservices/creditcard" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://marknet.com/webservices/creditcard">
      <s:element name="UpdateAmount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CardDetails" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateAmountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateAmountResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UpdateAmountSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateAmount" />
  </wsdl:message>
  <wsdl:message name="UpdateAmountSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateAmountResponse" />
  </wsdl:message>
  <wsdl:portType name="CreditCardWSSoap">
    <wsdl:operation name="UpdateAmount">
      <wsdl:input message="tns:UpdateAmountSoapIn" />
      <wsdl:output message="tns:UpdateAmountSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CreditCardWSSoap" type="tns:CreditCardWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateAmount">
      <soap:operation soapAction="http://marknet.com/webservices/creditcard/UpdateAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CreditCardWSSoap12" type="tns:CreditCardWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateAmount">
      <soap12:operation soapAction="http://marknet.com/webservices/creditcard/UpdateAmount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CreditCardWS">
    <wsdl:port name="CreditCardWSSoap" binding="tns:CreditCardWSSoap">
      <soap:address location="http://localhost:9501/CreditCardWS/CreditCardWS.asmx" />
    </wsdl:port>
    <wsdl:port name="CreditCardWSSoap12" binding="tns:CreditCardWSSoap12">
      <soap12:address location="http://localhost:9501/CreditCardWS/CreditCardWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>